<a [href]="'/' + props.id">
  <div class="h-full rounded-md bg-white p-8 dark:bg-primary-very-dark-blue">
    <div class="relative">
      <div
        class="absolute -top-14 left-0 flex h-[50px] w-[50px] items-center justify-center overflow-hidden rounded-[15px]"
        [style]="'background-color: ' + props.logoBackground + ';'"
      >
        <img [src]="[props.logo]" alt="logo" loading="lazy" decoding="async" />
      </div>
    </div>

    <div class="mt-6 flex flex-row gap-3">
      <p class="text-secondary-dark-gray">{{ props.postedAt }}</p>
      <p class="-mt-3 text-3xl text-secondary-dark-gray">.</p>
      <p class="text-secondary-dark-gray">{{ props.contract }}</p>
    </div>
    <div class="mt-3">
      <h2
        class="text-2xl font-bold text-primary-very-dark-blue dark:text-white"
      >
        {{ props.position }}
      </h2>
    </div>
    <div class="mt-4">
      <p class="text-secondary-dark-gray">{{ props.company }}</p>
    </div>
    <div class="mb-1 mt-11">
      <p class="text-sm font-bold text-primary-violet">{{ props.location }}</p>
    </div>
  </div>
</a>
