aml<div>
  <button class="p-3" (click)="onFilterButtonClicked()">
    <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M19.108 0H.86a.86.86 0 00-.764.455.833.833 0 00.068.884l6.685 9.202.007.01c.242.32.374.708.375 1.107v7.502a.825.825 0 00.248.594.865.865 0 00.942.18l3.756-1.4c.337-.1.56-.41.56-.784v-6.092c0-.399.132-.787.375-1.108l.007-.009 6.685-9.202c.19-.26.217-.6.068-.884A.86.86 0 0019.108 0z"
        fill="#6E8098"
        fillRule="nonzero"
      />
    </svg>
  </button>
</div>

@if (renderModal | async) {

<app-modal [renderModal]="renderModal">
  <div>
    <app-form-input
      class="w-full px-6"
      [inputName]="locationName"
      [inputFormControl]="locationFormControl"
      [iconSrc]="locationIconSrc"
      placeholder="Filter by location…"
    />
    <div class="h-[1px] w-full bg-secondary-light-gray dark:bg-slate-500"></div>

    <div class="p-6">
      <app-checkbox
        [checkBoxFormControl]="checkBoxFormControl"
        label="Full Time Only"
      />
    </div>
    <div class="px-6 pb-6">
      <button class="w-full button1">Search</button>
    </div>
  </div>
</app-modal>

}
