<!-- Search Component -->
<div
  class="horizontal-margin -mt-10 hidden flex-row rounded-md bg-secondary-white dark:bg-primary-very-dark-blue sm:flex"
>
  <app-form-input
    [inputFormControl]="companyFormControl"
    [inputName]="companyName"
    [iconSrc]="companyIconSrc"
    placeholder="Filter by title, companies, expertise…"
    class="sm:w-3/12 xl:w-[40%]"
  />

  <!-- <app-form-input
    [inputFormControl]="locationFormControl"
    [inputName]="locationName"
    [iconSrc]="locationIconSrc"
    placeholder="Filter by location…"
    class="sm:w-3/12 xl:w-[40%]"
  /> -->

  <div
    class="flex flex-row items-center dark:text-white sm:w-3/12 xl:w-[40%] bg-inherit"
  >
    <brn-popover
      [state]="state()"
      (stateChanged)="comboboxStateChange($event)"
      sideOffset="5"
      closeDelay="100"
      class="w-full"
    >
      <button
        id="edit-profile"
        variant="outline"
        brnPopoverTrigger
        hlmBtn
        class="flex flex-row items-center dark:text-white w-full justify-between hover:bg-blue-50 dark:hover:bg-blue-950"
      >
        {{ currentLocation() ? currentLocation() : "Select location..." }}
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          [attr.stroke]="
            (currentTheme | async)?.currentTheme === 'dark' ? '#fff' : '#000'
          "
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-map-pin"
        >
          <path d="M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 0 1 16 0Z" />
          <circle cx="12" cy="10" r="3" />
        </svg>
      </button>

      <brn-cmd
        *brnPopoverContent="let ctx"
        hlmPopoverContent
        hlm
        class="p-0 w-full"
      >
        <hlm-cmd-input-wrapper>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-search"
          >
            <circle cx="11" cy="11" r="8" />
            <path d="m21 21-4.3-4.3" />
          </svg>
          <input placeholder="Search location..." brnCmdInput hlm />
        </hlm-cmd-input-wrapper>
        <div *brnCmdEmpty hlmCmdEmpty>No results found.</div>
        <brn-cmd-list hlm>
          <brn-cmd-group hlm>
            <button
              brnCmdItem
              [value]="'All Locations'"
              (selected)="commandSelected('')"
              hlm
            >
              All locations
            </button>
            @for (location of allLocations | async; track location) {
            <button
              brnCmdItem
              [value]="location"
              (selected)="commandSelected(location)"
              hlm
            >
              {{ location }}
            </button>
            }
          </brn-cmd-group>
        </brn-cmd-list>
      </brn-cmd>
    </brn-popover>
  </div>

  <div
    class="flex flex-row content-center items-center justify-center gap-8 sm:w-6/12 xl:w-[30%]"
  >
    <app-checkbox
      label="Full Time Only"
      [checkBoxFormControl]="checkBoxFormControl"
    />
    <button (click)="onSearchButtonClick()" class="button1">Search</button>
  </div>
</div>

<!-- Search for mobile -->
<div
  class="horizontal-margin relative -mt-10 flex flex-row items-center justify-between rounded-md bg-secondary-white dark:bg-primary-very-dark-blue sm:hidden"
>
  <app-form-input
    [inputFormControl]="companyFormControl"
    [inputName]="companyName"
    class="w-[60%]"
    placeholder="Filter by title..."
    value="{company}"
  />

  <div class="flex flex-row items-center gap-4">
    <app-filter-button
      [checkBoxFormControl]="checkBoxFormControl"
      [searchFormGroup]="searchFormGroup"
      [currentLocation]="currentLocation"
    />

    <div class="mr-4">
      <button
        class="rounded-5px bg-primary-violet p-3"
        (click)="onSearchButtonClick()"
      >
        <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M17.112 15.059h-1.088l-.377-.377a8.814 8.814 0 002.15-5.784A8.898 8.898 0 008.898 0 8.898 8.898 0 000 8.898a8.898 8.898 0 008.898 8.899c2.211 0 4.23-.808 5.784-2.143l.377.377v1.081l6.845 6.832 2.04-2.04-6.832-6.845zm-8.214 0A6.16 6.16 0 118.9 2.737a6.16 6.16 0 010 12.322z"
            fill="#fff"
            fillRule="nonzero"
          />
        </svg>
      </button>
    </div>
  </div>
</div>
