<!-- Search Component -->
<div
  class="horizontal-margin -mt-10 hidden flex-row rounded-md bg-secondary-white dark:bg-primary-very-dark-blue sm:flex"
>
  <app-form-input
    [inputFormControl]="companyFormControl"
    [inputName]="companyName"
    [iconSrc]="companyIconSrc"
    placeholder="Filter by title, companies, expertise…"
    class="sm:w-3/12 xl:w-[40%]"
  />
  <app-form-input
    [inputFormControl]="locationFormControl"
    [inputName]="locationName"
    [iconSrc]="locationIconSrc"
    placeholder="Filter by location…"
    class="sm:w-3/12 xl:w-[40%]"
  />

  <div
    class="flex flex-row content-center items-center justify-center gap-8 sm:w-6/12 xl:w-[30%]"
  >
    <app-checkbox
      label="Full Time Only"
      [checkBoxFormControl]="checkBoxFormControl"
    />
    <button (click)="onSearchButtonClick()" class="button1">Search</button>
  </div>
</div>

<!-- Search for mobile -->
<div
  class="horizontal-margin relative -mt-10 flex flex-row items-center justify-between rounded-md bg-secondary-white dark:bg-primary-very-dark-blue sm:hidden"
>
  <app-form-input
    [inputFormControl]="companyFormControl"
    [inputName]="companyName"
    class="w-[60%]"
    placeholder="Filter by title..."
    value="{company}"
  />

  <div class="flex flex-row items-center gap-4">
    <app-filter-button
      [checkBoxFormControl]="checkBoxFormControl"
      [locationFormControl]="locationFormControl"
      [locationName]="locationName"
      [locationIconSrc]="locationIconSrc"
    />

    <div class="mr-4">
      <button
        class="rounded-5px bg-primary-violet p-3"
        (click)="onSearchButtonClick()"
      >
        <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M17.112 15.059h-1.088l-.377-.377a8.814 8.814 0 002.15-5.784A8.898 8.898 0 008.898 0 8.898 8.898 0 000 8.898a8.898 8.898 0 008.898 8.899c2.211 0 4.23-.808 5.784-2.143l.377.377v1.081l6.845 6.832 2.04-2.04-6.832-6.845zm-8.214 0A6.16 6.16 0 118.9 2.737a6.16 6.16 0 010 12.322z"
            fill="#fff"
            fillRule="nonzero"
          />
        </svg>
      </button>
    </div>
  </div>
</div>
