@import "@angular/cdk/overlay-prebuilt.css";

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --modal-bg: rgb(0, 0, 0, 0.2);
  }

  :root {
    --font-sans: "";
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

* {
  @apply transition-colors duration-300 ease-in-out text-primary-midnight scroll-smooth;
}

html {
  @apply dark:bg-primary-midnight bg-white min-h-screen;
}

h1 {
  font-size: 28px;
  line-height: 34px;
}

h2 {
  font-size: 24px;
  line-height: 29px;
}

h3 {
  font-size: 20px;
  line-height: 24px;
}

h4 {
  font-size: 14px;
  line-height: 18px;
}

p {
  font-size: 16px;
  line-height: 26px;
}

.button1 {
  @apply flex h-12 flex-row  items-center justify-center rounded-5px bg-primary-violet px-10 py-4 font-bold text-white transition-colors hover:bg-primary-light-violet;
  font-size: 16px;
  line-height: 26px;
}

.button2 {
  @apply flex flex-row items-center rounded-5px bg-[#eeeffc] px-10 py-4 font-bold text-primary-violet transition-colors hover:bg-[#c5c9f4] dark:bg-[#303642] dark:text-white dark:hover:bg-[#696e76];
  font-size: 16px;
  line-height: 26px;
}

/* Theme toggle CSS */
/* .theme-light {
@apply ;
} */

.theme-dark {
  @apply ml-[65%];
}

/* !Mobile CSS */
.horizontal-padding {
  padding-left: 5%;
  padding-right: 5%;
}

.horizontal-margin {
  margin-left: 5%;
  margin-right: 5%;
}

.horizontal-padding-id {
  padding-left: 5%;
  padding-right: 5%%;
}
/* !Tablet CSS  */
@media (min-width: 640px) {
}
/* !Desktop CSS */
@media (min-width: 1280px) {
  .horizontal-padding {
    padding-left: 10%;
    padding-right: 10%;
  }

  .horizontal-padding-id {
    padding-left: 25%;
    padding-right: 25%;
  }

  .horizontal-margin {
    margin-left: 10%;
    margin-right: 10%;
  }
}
